
RewriteEngine On
# RewriteCond %{HTTP_HOST} !^www\.
# RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
# RewriteRule ^$ http://www.%{HTTP_HOST}/$1 [R=301,L]
RewriteRule ^articles/([0-9]+)/$ articles.php?article=$1 [NC,L]
RewriteRule ^user/(.*)/$ user.php?user=$1 [NC,L]
RewriteRule ^maps/ category.php?cache=maps [NC,L]
RewriteRule ^mods/ category.php?cache=mods [NC,L]
RewriteRule ^versions/ category.php?cache=versions [NC,L]
RewriteRule ^plugins/ category.php?cache=plugins [NC,L]
RewriteRule ^textures/ category.php?cache=textures [NC,L]
RewriteRule ^shaders/ category.php?cache=shaders [NC,L]
RewriteRule ^cheats/ category.php?cache=cheats [NC,L]
RewriteRule ^divers/ category.php?cache=divers [NC,L]
