body {
    margin: 0;
    background:#f9f9f9;
}
#commentaires, #postcommentaire {
    width:1000px;
    margin:5px auto 10px auto;
    padding:20px 40px;
    font-family: sans-serif;
}
    
.comment-title {
    font-size: 20px;
    margin:0;
    padding-bottom: 20px;
}

.comment-title span {
    font-size: 15px;
}

textarea {
    width:100%;
    font-size:12pt;
    padding:10px;
    display: block;
    font-family: sans-serif;
    resize:none;
}

textarea:focus {
    outline-color:#2C8607;
}

.form_btn {
    background-color:#329609;
    border:0;
    padding:10px 20px;
    display:block;
    color:#fff;
    font-size:12pt;
    cursor:pointer;
    transition:all 0.3s ease;
    margin: 20px auto;
}

.form_btn:hover{
    background-color:#38A70A;
}

.true {
    color:#329609;
    text-align: center;
    padding: 4px;

}

.commentaire {
    width: 90%;
    margin: 0px auto 20px auto;
    background-color:#fff;
    padding:20px;
    border:1px solid #ededed;
    
}
.avatar {
    width:80px;
}
.pseudo {
    font-size:15pt;
    display:inline-block;
    position:absolute;
    margin-left:15px;
}

.date {
    display: inline-block;
    margin-top:5px;
    float:right;
    font-size:9pt;
    color:#848484;
}

.contenu {
    font-size:14px;
    display:inline-block;
    margin: 30px 0 0 22px;
    position:absolute;
    width:800px;
    line-height:20px;
}

.userlink {
    color:#3C3C3C;
    text-decoration:none;
}

.btns{
    width:100%;
    text-align:right;
}
.rep_btn, .del_btn {
    display:inline-block;
    padding:4px 10px;
    margin:0;
    font-size:12px;
    border:0;
    cursor:pointer;
    transition: all 0.25s ease;
    color:#fff;
}


.del_btn {
    margin-right:15px;
    background-color:#A83E94;
}

.del_btn:hover {
    background-color:#fff;
    color:#A83E94;
    border:1px solid #A83E94;
}
.rep_btn {
    background-color:#778172;
}

.rep_btn:hover {
    background-color:#fff;
    border:1px solid #329609;
    color:#329609;
}