html,body{
    background-color:#f8f8f8;
    margin:0;
    padding:0;
}
    
#loginbox{
    color:#3e3e3e;
    width:500px;
    background-color:#ecf0f1;
    margin:auto;
    vertical-align: middle;
    display: block;
    font-family:"Roboto Condensed";
    padding-bottom: 10px;
    border:1px solid #3e3e3e;
    box-shadow: 1px 0px 42px #d3d3d3;
}

.form_title{
    font-size:145%;
    padding: 10px;
    font-family: "Merriweather";
    text-align: center;
    font-weight: bold;
    margin:0;
}


.textbox{
    margin:0 auto;
    margin-bottom: 10px;
    width:250px;
    display:block;
    padding:6px 3px;
    font-size:15pt;
    font-family:"Roboto Condensed";
}

.form_btn{
    background-color:#3e3e3e;
    border:0;
    color:#fff;
    padding:4px 10px;
    display:inline-block;
    cursor:pointer;
    font-size: 13pt;
    font-family: "Roboto condensed";
    
}

.form_btn:hover,.form_btn2:hover{
    background-color:#696969;
}


#loginzone{
    text-align: center;
    margin: 0 auto;
    font-size:11pt;
    width:250px;
    
}

label{
    padding-right:10px;
}

.separatorform{
    text-align:center;
    font-size:15pt;
    padding-top:7px;
}
    
.forminfo{
    font-size:8pt;
    text-align:center;
    margin:0;
    padding-bottom: 10px;
}

.form_btn2{
    background-color:#3e3e3e;
    border:0;
    color:#fff;
    padding:4px 10px;
    display:block;
    cursor:pointer;
    font-size: 13pt;
    font-family: "Roboto condensed";
    margin: 0 auto;
}