body {
    background-image: url(bkg.jpg);
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    font-size:16pt;
}
a{
    text-decoration: none;
}
#content { 
    background-color: rgba(45,72,57,0.3);
    width: 1200px;
    margin: 0 auto;
    padding:0;
    display:block;
    padding:30px 40px;
    height:2000px;;
}

.title {
    color:#1bf28a;
    font-family: "Open Sans";
    font-size:35pt;
    margin-top:-8px;
    display:block;
    margin-left:5px;
    cursor: pointer;
    
}

#hamburger,.title,.login {
    display: inline-table;
    vertical-align: middle;
}

#hamburger {
    height: 24px;
    padding: 8px 8px;
    width: 24px;
    transition: transform .3s ease;
    cursor: pointer;
}

#hamburger span {
    height: 3px;
    background-color: #1bf28a;
    display: block;
}

#hamburger span:nth-child(2) {
    margin: 6px 0;
}

.login{
    padding:4px 10px;
    background:#11b364;
    color:#fff;
    float:right;
    margin-top:13px;
}

.login:hover{
    background:#13ce73;
}
#page{
    margin:50px auto;
    display:block;
}

#image{
    width:1000px;
    margin:10px auto;
    height:400px;
    background-color:#395d4b;
}


.article{
    background-image:url("http://screenshots.fr.sftcdn.net/fr/scrn/189000/189271/minecraft-02-700x393.jpg");
    width:550px;
    margin:20px;
    float:left;
    height:300px;
}
/**.article{
    width:500px;
    background:rgba(80,91,85,0.20);
    padding:15px 30px;
    margin:20px;
    float:left;
}
.articletitle{
    color:#fff;
    font-family:"Merriweather";
    font-size:120%;
    margin:0;
    padding:0;
    display:block;
}

.articletext{
    font-size:80%;
    color:#fff;
}

.savoirplus{
    background-color:#6f7371;
    color:#fff;
    font-size:80%;
    padding:2px 4px;
    float:right;
    margin-top:-20px;
}*/

.savoirplus:hover{
    background-color:#7c817f;
}

     #menu {
    position: absolute;
	top: -230px;
	width: 200px;
	text-align: center;
	left: 0;
	background: #25885B;
	transition: all .3s ease;
    box-shadow: 0px 1px 8px -2px #000;
}

#menu span {
	transition: background .2s ease;
	cursor: pointer;
	display: block;
	padding: 10px 20px;
	color: #FFF;
	font-size: 17pt;
}

#menu span:last-child {
	border-bottom: 0;
}

#menu span:hover {
    background: #1F774F;
}

.menutext {
    margin:0;
    padding-bottom: 5px;
    padding-top:4px;
    font-size:12pt;
    color:#fff;
    text-align:center;
    text-decoration: underline;
}