/* Tags générauxs */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 124%;
    height: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.error {
    background: #F32121;
    padding: 4px;
    width:auto;
    margin:0 auto;
    color:#fff;
    font-size:12pt;
    display: inline-block;
}
.true {
    background: #27AE60;
    padding: 4px 20px;
    width:auto;
    margin:0 auto;
    color:#fff;
    font-size:12pt;
    display: inline-block;
}
/* Header */
header {
    transition: background .3s ease;
    background: #27AE60;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 4px 11px -7px #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header a {
    color: #fff;
}

#header-container {
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
    padding: 0;
    list-style-type: none;
}

#header-inner {
    padding: 0 1.6%;
    position: relative;
}

#notif {
    background: #2ECC71;
    cursor: pointer;
    margin-right: 7px;
    position: relative;
}

#notif img {
    width: 35px;
    display: block;
    padding: 10px;
}

#notif span {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    border-radius: 7px;
    width: 14px;
    height: 14px;
    opacity: 0;
    transition: opacity .5s linear;
}

.login {
    background: #2ECC71;
    color: #fff;
    cursor: pointer;
}

.login img {
    width: 35px;
    display: block;
    padding: 10px;
}

#title {
    width: calc(100% - 162px);
    padding-left: 8px;
}

#hamburger,
#title,
.login,
#notif {
    display: inline-table;
    vertical-align: middle;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 22pt;
}

/* Hamburger */
#hamburger {
    height: 20px;
    width: 23px;
    transition: transform .3s cubic-bezier(.35,.93,.54,.99);
    cursor: pointer;
    position: relative;
    bottom: 1px;
}

#hamburger span {
    height: 3px;
    background-color: #fff;
    display: block;
}

#hamburger span:nth-child(2) {
    margin: 6px 0;
}

/* Menu & profil*/
#menu {
    padding-top: 15px;
    left: -320px;
    height: 110%;
    top: 75px;
    width: 320px;
    transition: left .3s cubic-bezier(.35,.93,.54,.99);
}

#menu a {
    border-bottom: 2px solid #51D489;
    font-size: 20pt;
}

#menu a:last-child {
    border-bottom: 0;
}

#profile {
    right: -320px;
    height: 110%;
    top: 75px;
    width: 320px;
    transition: right .3s cubic-bezier(.35,.93,.54,.99);
}

#profile a:last-child {
    background: #fa4242;
}

#profile-btn {
    font-size: 17pt;
}

#profile-btn img {
    transition: transform .3s ease;
}

#profile a:nth-child(3) {
    background-color: #525252;
}

#profile a img {
    margin: 25px auto;
    display: block;
    box-shadow: 0 1px 6px -2px #000;
    height: auto;
    width: 250px;
}

#notifs {
    color: #fff;
    right: -320px;
    height: 110%;
    top: 75px;
    width: 320px;
    transition: right .3s cubic-bezier(.35,.93,.54,.99);
}

#notifs a {
    border-bottom: 1px solid #4BE48B;
    font-size: 14pt;
    text-align: left;
}

#profile div:first-of-type,
#notifs div:first-of-type {
    padding: 10px 0;
    font-size: 18pt;
    background: #2EA962;
    color: #fff;
}

.dropdown {
    z-index: 88;
    position: fixed;
    background: #2EBF6B;
    text-align: center;
}

.dropdown a {
    transition: background .2s ease;
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    color: #FFF;
    font-size: 17pt;
}

/* Slide */
#slide {
    width: 86.8%;
    max-width: 1400px;
    background-color: #D2D2D2;
    height: 300px;
    margin: 105px auto 0 auto;
}

/* Articles */
#articles {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding:20px 0;
}

article {
    margin: 13px 1.6%;
    width: 46.8%;
    float: left;
}

article a {
    cursor: pointer;
    display: block;
    width: 100%;
    padding-bottom: calc(52.25% - 40px);
    position: relative;
}

article a h2 {
    margin: 0;
    padding: 6px 10px;
    color: #fff;
    text-transform: uppercase;
}

article a h2 span {
    font-weight: normal;
    text-transform: none;
}

article > a > span {
    padding: 3px 6px;
    font-weight: bold;
    font-size: 18pt;
    position: absolute;
    bottom: 0;
    color: #fff;
}

.map a h2,
.map > a > span {
    background: rgba(192,57,43,0.75);
}


.mod a h2,
.mod > a > span {
    background: rgba(41,128,185,0.75);
}

.plugin a h2,
.plugin > a > span {
    background: rgba(22,160,133,0.75);
}

.version a h2,
.version > a > span {
    background: rgba(142,68,173,0.75);
}

/* Footer */
html {
    position: relative;
    min-height: 100%;
}

#articles article:last-child {
    margin-bottom: 200px; /* bottom = footer height */
}

footer {
    color: lightgrey;
    background: #525252;
    text-align: center;
    font-size: 13pt;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px 0;
}

footer div {
    color: #fff;
    font-size: 50pt;
    text-shadow: 5px 0 darkgrey;
    font-family: "Merriweather";
}

footer span {
    color: #fff;
    text-decoration: underline;
}

/* Media queries */
@media screen and (max-width: 1000px) {
    #header-container {
        width: 90%;
    }

    #header-inner {
        padding: 0;
    }

    article {
        width: 100%;
        margin: 13px 0;
    }

    #title {
        width: calc(100% - 180px);
    }
}

@media screen and (max-width: 500px) {
    h1 span {
        display: none;
    }
    
    h1:after {
        content: "NN";
    }
}